# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Runtime Data
pids
*.pid
*.seed
*.pid.lock

# Directory for Instrumental Libs
lib-cov

# Coverage Directory Used by Tools like Instanbul
coverage
*.lcov

#  NYC Test Coverage
.nyc_output

# Dependency Directories
node_modules/
jspm_packages/

# TypeScript Cache
*.tsbuildinfo

# (Optional) NPM Cache Directory
.npm

# (Optional) Eslint Cache
.eslintcache

# Environment Variables
.env
.env.test
.env.production

# Build Directory
dist/
build/

# Cache
.cache

# Temporary Files
*.tmp
temp/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
